.hide,
.display-none {
  display: none;
}
.oculto,
.hidden,
.visibility-hidden {
  visibility: hidden;
}
.has-feedback span.glyphicon {
  margin-right: 13px;
}
.green {
  background-color: green;
}
.right {
  float: right;
}
.badge-branco {
  background-color: white;
  color: black;
}
.background-green {
  background-color: green!important;
  color: white;
}
.background-purple {
  background-color: purple!important;
  color: white;
}
.background-gray {
  background-color: gray!important;
}
.background-red {
  background-color: red!important;
}
.background-blue {
  color: white;
  background-color: blue!important;
}
.right,
.float-right {
  float: right;
}
.modal-content {
  border-radius: 0px;
}
.clear {
  clear: both;
}
.center {
  text-align: center;
}
