<div id="home" class="container">
	<h2 class="titulo">{{titulo}}</h2>
	<pre ng-bind-html=" questaoSelecionada  | trusted" class="prettyprint linenums lang-java"></pre>

	<h4>Choose one:</h4>
	<ol class="itens" type="A">
		<li class="item" ng-repeat="(key, value) in alternativas" for="questao">
			<input id="{{key}}" class="escolha" type="radio" name="questao" />
			<label for="{{key}}">{{value}}</label>
		</li>
	</ol>
	<button class="btn btn-warning" ng-click="prev()">prev</button>
	<button class="btn btn-success" ng-click="next()">next</button>
</div>